In [2]:
import pandas as pd
import numpy as np

In [4]:
bdf=pd.read_csv("german_credit.csv")

In [5]:
bdf.head()

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [6]:
bdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
default                       1000 non-null int64
account_check_status          1000 non-null object
duration_in_month             1000 non-null int64
credit_history                1000 non-null object
purpose                       1000 non-null object
credit_amount                 1000 non-null int64
savings                       1000 non-null object
present_emp_since             1000 non-null object
installment_as_income_perc    1000 non-null int64
personal_status_sex           1000 non-null object
other_debtors                 1000 non-null object
present_res_since             1000 non-null int64
property                      1000 non-null object
age                           1000 non-null int64
other_installment_plans       1000 non-null object
housing                       1000 non-null object
credits_this_bank             1000 non-null int64
job                           1000 non-null object
people_under_maintenance      1000 non-null int64
telephone                     1000 non-null object
foreign_worker                1000 non-null object
dtypes: int64(8), object(13)
memory usage: 164.1+ KB

In [7]:
bdf.isnull().sum()

default                       0
account_check_status          0
duration_in_month             0
credit_history                0
purpose                       0
credit_amount                 0
savings                       0
present_emp_since             0
installment_as_income_perc    0
personal_status_sex           0
other_debtors                 0
present_res_since             0
property                      0
age                           0
other_installment_plans       0
housing                       0
credits_this_bank             0
job                           0
people_under_maintenance      0
telephone                     0
foreign_worker                0
dtype: int64

In [8]:
for feature in bdf.columns:
    if bdf[feature].dtype=='object':
        bdf[feature]=pd.Categorical(bdf[feature]).codes

In [9]:
bdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
default                       1000 non-null int64
account_check_status          1000 non-null int8
duration_in_month             1000 non-null int64
credit_history                1000 non-null int8
purpose                       1000 non-null int8
credit_amount                 1000 non-null int64
savings                       1000 non-null int8
present_emp_since             1000 non-null int8
installment_as_income_perc    1000 non-null int64
personal_status_sex           1000 non-null int8
other_debtors                 1000 non-null int8
present_res_since             1000 non-null int64
property                      1000 non-null int8
age                           1000 non-null int64
other_installment_plans       1000 non-null int8
housing                       1000 non-null int8
credits_this_bank             1000 non-null int64
job                           1000 non-null int8
people_under_maintenance      1000 non-null int64
telephone                     1000 non-null int8
foreign_worker                1000 non-null int8
dtypes: int64(8), int8(13)
memory usage: 75.3 KB

In [11]:
bdf['default'].value_counts()

0    700
1    300
Name: default, dtype: int64

In [16]:
X=bdf.drop('default',axis=1)

In [27]:
y=bdf['default']

In [28]:
X.shape

(1000, 20)

In [29]:
y.shape

(1000,)

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=1)

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [13]:
dtree=DecisionTreeClassifier(criterion='gini')

In [34]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [35]:
dtree.score(X_train,y_train)

1.0

In [37]:
dtree.score(X_test,y_test)

0.7133333333333334

In [38]:
from sklearn.metrics import classification_report,confusion_matrix

In [40]:
expected=y_test

In [41]:
predicted=dtree.predict(X_test)

In [42]:
confusion_matrix(expected,predicted)

array([[170,  44],
       [ 42,  44]])

In [43]:
print(classification_report(expected,predicted))

              precision    recall  f1-score   support

           0       0.80      0.79      0.80       214
           1       0.50      0.51      0.51        86

    accuracy                           0.71       300
   macro avg       0.65      0.65      0.65       300
weighted avg       0.72      0.71      0.71       300