In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report,confusion_matrix

In [53]:
bdf=pd.read_csv('Bank_Personal_Loan_Modelling-1.csv')

In [54]:
bdf.shape

(5000, 14)

In [55]:
bdf.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [56]:
bdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
ID                    5000 non-null int64
Age                   5000 non-null int64
Experience            5000 non-null int64
Income                5000 non-null int64
ZIP Code              5000 non-null int64
Family                5000 non-null int64
CCAvg                 5000 non-null float64
Education             5000 non-null int64
Mortgage              5000 non-null int64
Personal Loan         5000 non-null int64
Securities Account    5000 non-null int64
CD Account            5000 non-null int64
Online                5000 non-null int64
CreditCard            5000 non-null int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [57]:
bdf.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [58]:
bdf=bdf.drop(['ID','ZIP Code'],axis=1)

In [59]:
bdf.columns

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Personal Loan', 'Securities Account', 'CD Account',
       'Online', 'CreditCard'],
      dtype='object')

In [60]:
bdf['Personal Loan'].value_counts()

0    4520
1     480
Name: Personal Loan, dtype: int64

In [61]:
X=bdf.drop('Personal Loan',axis=1)

In [62]:
y=bdf['Personal Loan']

In [63]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=1)

In [64]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3500, 11)
(1500, 11)
(3500,)
(1500,)

In [65]:
sc=StandardScaler()
sc=sc.fit(X_train)
X_train=sc.transform(X_train)
X_test=sc.transform(X_test)

In [66]:
Knn=KNeighborsClassifier(n_neighbors=3)
Knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [67]:
Knn.score(X_train,y_train)

0.9762857142857143

In [68]:
Knn.score(X_test,y_test)

0.9553333333333334

In [69]:
y_pred=Knn.predict(X_test)

In [72]:
expt=y_test

In [73]:
confusion_matrix(expt,y_pred)

array([[1342,    9],
       [  58,   91]])

In [76]:
print(classification_report(expt,y_pred))

              precision    recall  f1-score   support

           0       0.96      0.99      0.98      1351
           1       0.91      0.61      0.73       149

    accuracy                           0.96      1500
   macro avg       0.93      0.80      0.85      1500
weighted avg       0.95      0.96      0.95      1500